<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="p-0 bg-fixed bg-gray-100">
  <div class="p-5 min-h-scren">
    <div class="flex flex-row">
      <div class="flex flex-grow-0">
        <img src="../../views/images/gitlab_icon.png" class="max-h-10 max-w-10">
      </div>
      <div class="flex flex-grow "></div>
      <div class="flex flex-grow-0">
        <div class=""><img src="../../views/images/profile_icon.png" class="max-h-10 max-w-10">
        </div>
      </div>
    </div>
    <div
      class="flex my-5 sm:flex-row flex-col bg-black shadow-lg backdrop-filter backdrop-blur-lg bg-opacity-5 rounded-lg overflow-scroll">
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Created (<span id="created-length"><%= created.length %></span>)</div>
        <div id="created" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="" data-ajax-update="#created" data-ajax-mode="replace" data-ajax-confirm="">
          <% for(let i=0; i<created.length; i++){ %>
            <%- include('../partials/jobCard', {job: created, current: i}) %>
          <%}%>
        </div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Pending (<span id="pending-length"><%= pending.length %></span>)</div>
        <div id="pending" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="" data-ajax-update="#pending" data-ajax-mode="replace" data-ajax-confirm="" >
          <% for(let i=0; i<pending.length; i++){ %>
            <%- include('../partials/jobCard', {job: pending, current: i}) %>
          <%}%>
        </div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Running (<span id="running-length"><%= running.length %></span>)</div>
        <div id="running" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="" data-ajax-update="#running" data-ajax-mode="replace" data-ajax-confirm="">
          <% for(let i=0; i<running.length; i++){ %>
            <%- include('../partials/jobCard', {job: running, current: i}) %>
          <%}%>
        </div>
      </div>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script>
    function buildApiUrl(columnName){
      const apiUrl = new URL(`/api`+document.location.pathname, document.location.origin)
      apiUrl.searchParams.append(`status`,columnName)
      document.getElementById(columnName).setAttribute("data-ajax-url", apiUrl);
      console.log(document.getElementById(columnName).getAttribute("data-ajax-url"))
    }
  </script>
   <script>
    var userIsActive;
    var timeout;
    buildApiUrl("created")
    buildApiUrl("pending")
    buildApiUrl("running")
    $.fn.extend({

      autoUpdate: function(){
          setInterval(() => {
            if(!userIsActive){
              return
            }
              $(`div[data-ajax="true"]`).reloadCol()
          }, <%= cache_timeout %>);
      }(),
    
      userActive: function(){
        clearTimeout(setTimeout(timeout));
        timeout = setTimeout(()=>userIsActive = false, 30000) 
        userIsActive = true
        return userIsActive
      }
    })

    $.fn.autoUpdate;
    $(document).ready($.fn.userActive)
    $(document).on(`mousemove`, $.fn.userActive)
  </script>
  <script>
    window.updateTitle = (element, data) => {
        $(`#`+$(element).attr("id")+`-length`).html(data.length);
      }
  </script>
</body>
</html>