<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body onload="userActivity.resetTimeout()" onmousemove="userActivity.resetTimeout()" class="p-0 bg-fixed bg-gray-100">
  <div class="p-5 min-h-scren">
    <div class="flex flex-row">
      <div class="flex flex-grow-0">
        <a href="https://gitlab.com"><img src="../../views/images/gitlab_icon.png" class="max-h-10 max-w-10"></a>
      </div>
      <div class="flex flex-grow "></div>
      <div class="flex flex-grow-0">
        <div class="cursor-pointer" onclick="openNav()"><img src="../../views/images/hamburger_icon.png" class="max-h-10 max-w-10">
        </div>
      </div>
    </div>
    <div id="nav" class="z-10 fixed bg-white backdrop-filter backfrop-blur-lg bg-opacity-95 overflow-scroll w-0 top-0 right-0 h-full overflow-x-hidden transition-all duration-100">
      <div class="flex flex-row">
        <div class="flex flex-grow"></div>
        <div class="flex flex-grow-0">
          <div class="p-5"><img src="../../views/images/close_icon.png" class="max-h-10 max-w-10 cursor-pointer" onclick="closeNav()"></div>
        </div>
      </div>
    <div class="px-5 h-full">
      <div class="mx-5"><i class="fas fa-list"></i> Group by</div>
      <div class="text-center">
        <select id="groupby" class="w-3/5 bg-opacity-400 border-2 rounded border-gray-300">NONE <i class="fa fa-caret-down"></i>
          <option value="none" class="">NONE</option>
          <option value="name" class="">PROJECT</option>
          <option value="tags" class="">MACHINE TYPE</option>
        </select>
      </div>
      </div>
    </div>
    <div
      class="flex my-5 sm:flex-row flex-col bg-black shadow-lg backdrop-filter backdrop-blur-lg bg-opacity-5 rounded-lg overflow-scroll">
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="flex flex-row p-5 text-3xl bg-white relative ">
          <div class="flex flex-grow"></div>
          <div class="flex flex-grow-0">Created</div>
          <div class="flex flex-grow-0 created-circle" id="created-length"> <%= created.length %> </div>
          <div class="flex flex-grow"></div>
        </div>
        <div id="created" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="/api/groups/<%= groupID %>/jobs?status=created" data-ajax-update="#created" data-ajax-mode="replace" data-ajax-confirm="">
          <% for(let i=0; i<created.length; i++){ %>
            <%- include('../partials/jobCard', {job: created, current: i}) %>
          <%}%>
        </div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="flex flex-row p-5 text-3xl bg-white relative ">
          <div class="flex flex-grow"></div>
          <div class="flex flex-grow-0">Pending</div>
          <div class="flex flex-grow-0 pending-circle" id="pending-length"> <%= pending.length %> </div>
          <div class="flex flex-grow"></div>
        </div>
        <div id="pending" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="/api/groups/<%= groupID %>/jobs?status=pending"" data-ajax-update="#pending" data-ajax-mode="replace" data-ajax-confirm="" >
          <% for(let i=0; i<pending.length; i++){ %>
            <%- include('../partials/jobCard', {job: pending, current: i}) %>
          <%}%>
        </div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="flex flex-row p-5 text-3xl bg-white relative ">
          <div class="flex flex-grow"></div>
          <div class="flex flex-grow-0">Running</div>
          <div class="flex flex-grow-0 running-circle" id="running-length"> <%= running.length %> </div>
          <div class="flex flex-grow"></div>
        </div>
        <div id="running" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="/api/groups/<%= groupID %>/jobs?status=running"" data-ajax-update="#running" data-ajax-mode="replace" data-ajax-confirm="">
          <% for(let i=0; i<running.length; i++){ %>
            <%- include('../partials/jobCard', {job: running, current: i}) %>
          <%}%>
        </div>
      </div>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
   <script>
    (function checkUserActivity(){
          setInterval(() => {
            if(!userActivity.getUserActivity()){
              return
            }
              $(`div[data-ajax="true"]`).callElementFunction()
          }, <%= cache_timeout %>);
      })()
  </script>
  <script>
    window.updateTitle = function(data){
        $(`#`+$(this).attr("id")+`-length`).html(data.length);
      }
  </script>
  <script>
    function openNav() {
      $(`#nav`).width("300px");
    }
    
    function closeNav() {
      $(`#nav`).width("0%");
    }
  </script>
  <script>
    function callGroupingFunction(criteria){
      $(`div[data-ajax="true"]`).attr(`data-ajax-groupby-criteria`, criteria)
      $(`div[data-ajax="true"]`).attr(`data-ajax-groupby`,`window.groupByCriteria`)
      $(`div[data-ajax="true"]`).callElementFunction()
    }
    
    (function checkUrl() {
      const params = new URLSearchParams(window.location.search)
      if(params.has('groupby')){
        $(`#groupby`).val(params.get('groupby'))
        callGroupingFunction(params.get(`groupby`))
      }
    })()

    $(`#groupby`).change(function(){
      const windowUrl = new URL(window.location.href)
        const params = new URLSearchParams(windowUrl.search)
        const criteria = $(this).find(`:selected`).attr("value")
        if(criteria==="none"){
          windowUrl.searchParams.delete(`groupby`)
          window.history.pushState({},'', windowUrl)
          $(`div[data-ajax="true"]`).removeAttr(`data-ajax-groupby-criteria`)
          $(`div[data-ajax="true"]`).removeAttr(`data-ajax-groupby`)
          $(`div[data-ajax="true"]`).callElementFunction()
          return
        }  
        windowUrl.searchParams.set(`groupby`,criteria)
        window.history.pushState({},'', windowUrl)
        callGroupingFunction(criteria)
      })

    window.groupByCriteria = function(data){
      const criteria = this.getAttribute("data-ajax-groupby-criteria");
      const groups = [...new Set(data.map(data=>data[criteria].toString()))]
      var htmlArr = []
      groups.forEach(groupName => {
        const groupJobs = (data.filter(job=>job[criteria] == groupName))
        var titleTemplate = $("Template")[0]
        var titleItem = titleTemplate.content.cloneNode(true)
        var titleDiv = titleItem.querySelectorAll("div")
        titleDiv[0].classList.add(`${this.id}-group-title`)
        titleDiv[2].innerHTML = groupName
        titleDiv[3].classList.add(`${this.id}-circle-sm`)
        titleDiv[3].innerHTML = groupJobs.length
        htmlArr.push(titleItem) 
        htmlArr.push(groupJobs.map(job=>job.html).join(``))
      })
      $(`#`+$(this).attr("id")).html(htmlArr)
    }
  </script>
  <template>
    <div class="flex flex-row">
      <div class="flex flex-grow"></div>
      <div class="flex flex-grow-0"></div>
      <div class="flex flex-grow-0"></div>
      <div class="flex flex-grow"></div>
    </div>
  </template>
</body>
</html>