<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body onload="userActivity.resetTimeout()" onmousemove="userActivity.resetTimeout()" class="p-0 bg-fixed bg-gray-100">
  <div class="p-5 min-h-scren">
    <div class="flex flex-row">
      <div class="">
        <a href="https://gitlab.com"><img src="../../views/images/gitlab_icon.png" class="max-h-10 max-w-10"></a>
      </div>
      <div class="flex-grow "></div>
      <div class="">
        <div class="flex flex-col sm:flex-row">
          <div class="">
            <div class="px-5 h-full">
              <div class="leading-7"><i class="fas fa-list"></i> Group by</div>
            </div>
          </div>
          <div class="flex-grow">
            <div class="m-1">
              <select id="groupby" class="w-full bg-opacity-400 border-2 rounded border-gray-300">NONE <i class="fa fa-caret-down"></i>
                <option value="none" class="">NONE</option>
                <option value="name" class="">PROJECT</option>
                <option value="tags" class="">MACHINE TYPE</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex my-5 sm:flex-row flex-col bg-black shadow-lg backdrop-filter backdrop-blur-lg bg-opacity-5 rounded-lg overflow-scroll">
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="flex flex-row p-5 text-3xl bg-white relative ">
          <div class="flex-grow"></div>
          <div class="">Created</div>
          <div class="created-circle" id="created-length"> <%= created.length %> </div>
          <div class="flex-grow"></div>
        </div>
        <div id="created" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="/api/groups/<%= groupID %>/jobs?status=created" data-ajax-update="#created" data-ajax-mode="replace" data-ajax-confirm="">
          <%- created_cards.map((job)=> job.html).join("") %>
        </div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="flex flex-row p-5 text-3xl bg-white relative">
          <div class="flex-grow"></div>
          <div class="">Pending</div>
          <div class="pending-circle" id="pending-length"> <%= pending.length %> </div>
          <div class="flex-grow"></div>
        </div>
        <div id="pending" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="/api/groups/<%= groupID %>/jobs?status=pending"" data-ajax-update="#pending" data-ajax-mode="replace" data-ajax-confirm="" >
          <%- pending_cards.map((job)=> job.html).join("") %>
        </div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="flex flex-row p-5 text-3xl bg-white relative ">
          <div class="flex-grow"></div>
          <div class="">Running</div>
          <div class=" running-circle" id="running-length"> <%= running.length %> </div>
          <div class="flex-grow"></div>
        </div>
        <div id="running" data-ajax='true' data-ajax-postfn="window.updateTitle" data-ajax-url="/api/groups/<%= groupID %>/jobs?status=running"" data-ajax-update="#running" data-ajax-mode="replace" data-ajax-confirm="">
          <%- running_cards.map((job)=> job.html).join("") %>
        </div>
      </div>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
   <script>
    (function checkUserActivity(){
          setInterval(() => {
            if(!userActivity.getUserActivity()){
              return
            }
              $(`div[data-ajax="true"]`).callElementFunction()
          }, <%= cache_timeout %>);
      })()
  </script>
  <script>
    window.updateTitle = function(data){
        $(`#`+$(this).attr("id")+`-length`).html(data.length);
      }
  </script>
  <script>
    function callGroupingFunction(criteria){
      $(`div[data-ajax="true"]`).attr(`data-ajax-groupby-criteria`, criteria)
      $(`div[data-ajax="true"]`).attr(`data-ajax-groupby`,`window.groupByCriteria`)
      $(`div[data-ajax="true"]`).callElementFunction()
    }
    
    (function checkUrl() {
      const params = new URLSearchParams(window.location.search)
      if(params.has('groupby')){
        $(`#groupby`).val(params.get('groupby'))
        callGroupingFunction(params.get(`groupby`))
      }
    })()

    $(`#groupby`).change(function(){
      const windowUrl = new URL(window.location.href)
        const params = new URLSearchParams(windowUrl.search)
        const criteria = $(this).find(`:selected`).attr("value")
        if(criteria==="none"){
          windowUrl.searchParams.delete(`groupby`)
          window.history.pushState({},'', windowUrl)
          $(`div[data-ajax="true"]`).removeAttr(`data-ajax-groupby-criteria`)
          $(`div[data-ajax="true"]`).removeAttr(`data-ajax-groupby`)
          $(`div[data-ajax="true"]`).callElementFunction()
          return
        }  
        windowUrl.searchParams.set(`groupby`,criteria)
        window.history.pushState({},'', windowUrl)
        callGroupingFunction(criteria)
      })

    window.groupByCriteria = function(data){
      const criteria = this.getAttribute("data-ajax-groupby-criteria");
      const groups = [...new Set(data.map(data=>data[criteria].toString()))]
      var htmlArr = []
      groups.forEach(groupName => {
        const groupJobs = (data.filter(job=>job[criteria] == groupName))
        var titleTemplate = $("#group-title-template").html()
        var titleClone = $(titleTemplate)
        titleClone.find("#group-title-container").addClass(`${this.id}-group-title`)
        titleClone.find("#group-title-text").html(groupName)
        titleClone.find("#group-title-count").addClass(`${this.id}-circle-sm`)
        titleClone.find("#group-title-count").html(groupJobs.length)
        htmlArr.push(titleClone) 
        htmlArr.push(groupJobs.map(job=>job.html).join(``))
      })
      $(`#`+$(this).attr("id")).html(htmlArr)
    }
  </script>
  <template id="group-title-template">
    <div id="group-title-wrapper" class="">
      <div id="group-title-container" class="flex flex-row p-2">
        <div class="flex-grow"></div>
        <div id="group-title-text" class=""></div>
        <div id="group-title-count" class="leading-6"></div>
        <div class="flex-grow"></div>
      </div>
    </div>
  </template>
</body>
</html>