<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="p-0 bg-fixed bg-gray-100">
  <div class="p-5 min-h-scren">
    <div class="flex flex-row">
      <div class="flex flex-grow-0">
        <img src="../../views/images/gitlab_icon.png" class="max-h-10 max-w-10">
      </div>
      <div class="flex flex-grow "></div>
      <div class="flex flex-grow-0">
        <div class=""><img src="../../views/images/profile_icon.png" class="max-h-10 max-w-10">
        </div>
      </div>
    </div>
    <div
      class="flex my-5 sm:flex-row flex-col bg-black shadow-lg backdrop-filter backdrop-blur-lg bg-opacity-5 rounded-lg overflow-scroll">
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Created (<span id="created-length"><%= created.length %></span>)</div>
        <% for(let i=0; i<created.length; i++){ %>
          <%- include('../partials/jobCard', {job: created, current: i}) %>
        <%}%>
        <div id="created"></div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Pending (<span id="pending-length"><%= pending.length %></span>)</div>
        <% for(let i=0; i<pending.length; i++){ %>
          <%- include('../partials/jobCard', {job: pending, current: i}) %>
        <%}%>
        <div id="pending"></div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Running (<span id="running-length"><%= running.length %></span>)</div>
        <% for(let i=0; i<running.length; i++){ %>
          <%- include('../partials/jobCard', {job: running, current: i}) %>
        <%}%>
        <div id="running"></div>
      </div>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script>
    function reloadCol(columnName) {
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById(columnName).innerHTML = JSON.parse(this.response).join("");
        document.getElementById(`${columnName}-length`).innerHTML = JSON.parse(this.response).length;
      }
      xhttp.open("GET", "<%= origin %>/api/groups/794774?status=" + columnName);
      xhttp.send();
    }
    </script>
    <script>
      function autoUpdate(){
        setInterval(() => {
          reloadCol(`running`);
          reloadCol(`pending`);
          reloadCol(`created`);
        }, 5000);
      }
      autoUpdate();
    </script>
</body>
</html>