<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="p-0 bg-fixed bg-gray-100">
  <div class="p-5 min-h-scren">
    <div class="flex flex-row">
      <div class="flex flex-grow-0">
        <img src="../../views/images/gitlab_icon.png" class="max-h-10 max-w-10">
      </div>
      <div class="flex flex-grow "></div>
      <div class="flex flex-grow-0">
        <div class=""><img src="../../views/images/profile_icon.png" class="max-h-10 max-w-10">
        </div>
      </div>
    </div>
    <div
      class="flex my-5 sm:flex-row flex-col bg-black shadow-lg backdrop-filter backdrop-blur-lg bg-opacity-5 rounded-lg overflow-scroll">
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Created (<span id="created-length"><%= created.length %></span>)</div>
        <div id="created">
          <% for(let i=0; i<created.length; i++){ %>
            <%- include('../partials/jobCard', {job: created, current: i}) %>
          <%}%>
        </div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Pending (<span id="pending-length"><%= pending.length %></span>)</div>
        <div id="pending">
          <% for(let i=0; i<pending.length; i++){ %>
            <%- include('../partials/jobCard', {job: pending, current: i}) %>
          <%}%>
        </div>
      </div>
      <div class="flex flex-1 flex-col sm:w-1/3 text-center w-full">
        <div class="p-5 text-3xl bg-white relative ">Running (<span id="running-length"><%= running.length %></span>)</div>
        <div id="running">
          <% for(let i=0; i<running.length; i++){ %>
            <%- include('../partials/jobCard', {job: running, current: i}) %>
          <%}%>
        </div>
      </div>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
   <script>
    var userIsActive;
    var timeout;

    $.fn.extend({
      
      reloadCol: function(){
          const xhttp = new XMLHttpRequest();
          const url = new URL(`/api`+window.location.pathname, window.location.origin)
          url.searchParams.append(`status`,$(this).attr("id"))
          xhttp.onload = function(){
            const jobsArr = JSON.parse(this.response);
            $(this).html(jobsArr.join(""));
            $(`#`+$(this).attr("id")+`-length`).html(jobsArr.length);
          }
          xhttp.open("GET", url);
          xhttp.send();
        },

      autoUpdate: function(){
          setInterval(() => {
            if(!userIsActive){
              console.log(userIsActive)
              return
            }
            console.log(userIsActive)
            $(`#created`).reloadCol();
            $(`#pending`).reloadCol();
            $(`#running`).reloadCol();
          }, <%= cache_timeout %>);
      },
      
      userActive: function(){
        clearTimeout(setTimeout(timeout));
        timeout = setTimeout(()=>userIsActive = false, 30000) 
        userIsActive = true
        return userIsActive
      }
    })
    $.fn.autoUpdate();
    $(document).ready($.fn.userActive)
    $(document).on(`mousemove`, $.fn.userActive)
  </script>
</body>
</html>