<a href="<%=job[current].web_url%>" target="_blank">
  <div
    class="<%=job[current].status%>-card sm:p-5 sm:h-26 p-1 min-h-0 w-auto border-solid border-1 text-gray-400 bg-gray-50 transition duration-200 ease-in-out transform hover:scale-110">
    <div class="relative"><span class="<%=job[current].status%>-id"><%= job[current].project_name %></span> #<span class="<%=job[current].status%>-id">
        <%= job[current].id %>
      </span></div>
    Created At: <span class="text-gray-400 relative">
      <%= job[current].created_at %>
    </span><br>
    Started At: <span class="text-gray-400 relative">
      <%= job[current].started_at %>
    </span><br>
    tags: <span class="text-gray-400 relative">
      <%= job[current].tag_list %>
    </span>
  </div>
</a>