  <a href="<%=job.web_url%>" target="_blank">
    <div class="<%=job.status%>-card flex flex-col mt-0.5 mx-0.5 p-5 sm:h-26 min-h-0 w-auto border-solid border-1 text-gray-400 bg-gray-50 hover:text-white hover:bg-gray-400">

      <div class="flex flex-row">
        <div class="">Project:</div>
        <div class="flex-grow"></div>
        <div class="<%=job.status%>-id"><%= job.project_name %></div>
      </div>

      <div class="flex flex-row">
        <div class="">Job ID:</div>
        <div class="flex flex-grow"></div>
        <div class="<%=job.status%>-id"><%= job.id %></div>
      </div>

      <div class="flex flex-row">
        <div class="">Created At:</div>
        <div class="flex-grow"></div>
        <div class=""><%= job.created_at %></div>
      </div>

      <div class="flex flex-row">
        <div class="">Started At:</div>
        <div class="flex-grow"></div>
        <div class=""><%= job.started_at %></div>
      </div>

      <div class="flex flex-row">
        <div class="">Machine Types:</div>
        <div class="flex-grow"></div>
        <div class=""><%= job.tag_list %></div>
      </div>

    </div>
  </a>